* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'gg sans', sans-serif !important;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 72px 240px 1fr;
  overflow: hidden;
}

.active-item-blue, .active-item-green{
  border-radius: 16px !important;
}

.active-item-blue {
  background-color: #5865f2 !important;
}

.active-item-green {
  background-color: #23a559 !important;
}

